In [1]:
#1
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system
#SQL is structured query language i.e it stores data based om a structure., schema fixed, vertically scalable,table format, relational
#No SQL is non sql type of db, it is more flexible, unstrucutured, schema less, horizontally scalable, document,graph format , non relational.

In [2]:
#2
"""
The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects
CREATE Command
CREATE Database Database_Name;  
DROP Command
DROP DATABASE Database_Name;  
ALTER Command
ALTER TABLE name_of_table ADD column_name column_definition;  
TRUNCATE Command
TRUNCATE TABLE Table_Name;  
RENAME Command
RENAME TABLE Old_Table_Name TO New_Table_Name;  
"""

'\nThe DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects\nCREATE Command\nCREATE Database Database_Name;  \nDROP Command\nDROP DATABASE Database_Name;  \nALTER Command\nALTER TABLE name_of_table ADD column_name column_definition;  \nTRUNCATE Command\nTRUNCATE TABLE Table_Name;  \nRENAME Command\nRENAME TABLE Old_Table_Name TO New_Table_Name;  \n'

In [3]:
#3
"""
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
SELECT Command
INSERT Command
UPDATE Command
DELETE Command
"""

'\nThe DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.\nSELECT Command\nINSERT Command\nUPDATE Command\nDELETE Command\n'

In [4]:
#4
"""
DQL is used to fetch the data from the database.

It uses only one command:

SELECT
a. SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.
"""

'\nDQL is used to fetch the data from the database.\n\nIt uses only one command:\n\nSELECT\na. SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.\n'

In [5]:
#5
#The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. 
#The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database.

In [7]:
#6
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(user='root', password='password', host='127.0.0.1', database='mydb')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#A cursor is an object which helps to execute the query and fetch the records from the database. 
#The execute () method helps us to execute the query and return records according to the query.

Opened database successfully

In [ ]:
#7