In [1]:
#1 and 2
import pandas as pd

l=[4,8,15,16,23,42]

df = pd.Series(l)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#3

d = {"name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df = pd.DataFrame(d)
print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [3]:
#4
#Dataframe is a data structure offered by pandas module used to store data in rows and columns like tables. Series is 1D .Series consists of homogeneous data, whereas dataframe consists of heterogeneous data.

In [6]:
#5
d = {"name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df = pd.DataFrame(d)
print(df.head(1))
print(df.tail(1))
print(df.info())

    name  Age  Gender
0  Alice   25  Female
     name  Age  Gender
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [7]:
#6
#Series

In [ ]:
#7
Name = ["Alice","Bob","Claire"]
Age = [25,30,27]

name = pd.Series(Name)
age =  pd.Series(Age)

dict = {'name':name,'age':age