In [2]:
#1
'''
df.head() --return top values from dataframe
df.tail() -- return bottom values from datafram
df.info() -- return summary of dataframe and data type of columns
df.describe() -- return statistics of data 
df.loc -- returns the group of rows and columns identified by their labels or names.
'''

'\ndf.head() --return top values from dataframe\ndf.tail() -- return bottom values from datafram\ndf.info() -- return summary of dataframe and data type of columns\ndf.describe() -- return statistics of data \ndf.loc -- returns the group of rows and columns identified by their labels or names.\n'

In [15]:
#2
import pandas as pd

info = pd.DataFrame({"A":[4, 7, 1, 8, 9],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})

info.index = pd.RangeIndex(start=1, stop=10, step=2)
print(info)

   A   B   C
1  4   6  17
3  7   8  13
5  1  10  12
7  8  15  16
9  9  11  14

In [22]:
#3
import pandas as pd

info = pd.DataFrame({"values":[4, 7, 1, 8, 9],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})


def sum_of_values(info):
    return (sum(info['values'][0:3]))

sum_of_values(info)

12

In [24]:
#4
import pandas as pd

info = pd.DataFrame({"Text":["name a string", "make words", "read", "book", "sunday monday tuesday wednesday"],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})

def new_col(info):
    count = [ len(i.split()) for i in info['Text']]
    #print(count)
    info['word_count'] =  count
    return info
new_col(info)

                              Text   B   C  word_count
0                    name a string   6  17           3
1                       make words   8  13           2
2                             read  10  12           1
3                             book  15  16           1
4  sunday monday tuesday wednesday  11  14           4

In [25]:
#5
#.size returns total number of elements, it is compared by multiplying rows and columns returned by the shape method

In [26]:
#6
#read_excel is the function

In [29]:
#7
import pandas as pd

info = pd.DataFrame({"Email":["abc@gmail.com", "syzefw@youtube.com", "gweg@outlook.com", "restue@ewge.com", "jks@hotmail.com"],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})

def username_col(info):
    usernames = [ str(i.split('@')[0]) for i in info['Email']]
    info['username'] = usernames
    return info

username_col(info)

                Email   B   C username
0       abc@gmail.com   6  17      abc
1  syzefw@youtube.com   8  13   syzefw
2    gweg@outlook.com  10  12     gweg
3     restue@ewge.com  15  16   restue
4     jks@hotmail.com  11  14      jks

In [35]:
#8
import pandas as pd

info = pd.DataFrame({"A":[4, 7, 1, 8, 9],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})

def selected_values(info):
    result_df = info[(info['A'] > 5) & (info['B'] <10 )]
    return result_df
selected_values(info)

   A  B   C
1  7  8  13

In [38]:
#9

import pandas as pd

info = pd.DataFrame({"values":[4, 7, 1, 8, 9],   
                   "B":[6, 8, 10, 15, 11],   
                   "C":[17, 13, 12, 16, 14]})

print(info['values'].mean())
print(info['values'].median())
print(info['values'].std())

5.8
7.0
3.2710854467592254

In [39]:
#10

In [49]:
#11
from datetime import datetime
data  = { "date": ["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]}
df = pd.DataFrame(data)
l = [] 
for i in data['date']:
    date_object = datetime.strptime(i, "%Y-%m-%d")
    l.append(date_object.strftime('%A'))
df['weekday'] = l    
    
print(df)

         date    weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [51]:
#12

mask = (df['date'] > "2023-01-02") & (df['date'] <= "2023-01-05")
print(df.loc[mask])

         date    weekday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [42]:
#13
#import pandas

In [52]:
print(df[(df['date'] > "2023-01-02") & (df['date'] <= "2023-01-05")])

         date    weekday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday